.examinations_headtitle {
  margin: 3rem 0 0 0;
  font-size: 1.3rem;
  color: var(--header-dashboard-color);
}

.messages_messagebox {
  content: '';
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.examinations_utilitiesbox {
  border-radius: var(--default-border-radius);
  width: 75vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  min-height: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.utilities_buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.utilities_buttons button {
  border: 2px solid transparent;
  height: 2.5rem;
  width: 10rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.new_examination__button {
  background-color: var(--secondary-button-color);
}

.new_examination__button:hover {
  background-color: var(--primary-button-hover-color);

}

.go_back__button {
  background-color: var(--secondary-button-color);
}

.go_back__button:hover {
  background-color: var(--primary-background-hover);
}

.utilities_filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.selected_filters {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  margin: 0 auto;
  width: 78%;
  height: 3rem;
}

.arrow_button {
  font-size: 1.5rem;
}

@media (min-width: 510px) {
  .examinations_utilitiesbox {
    flex-direction: row;
  }
}

@media (min-width: 830px) {
  .examinations_utilitiesbox {
    flex-direction: row;
    align-items: center;
  }

  .utilities_buttons {
    flex-direction: row;
    margin-right: 1rem;
  }

  .utilities_buttons button {
    margin: 0.2rem 0 0.2rem 0.2rem;
  }

  .utilities_filters {
    flex-direction: row;
    width: 70%;
  }
}