.notices_headtitle {
  font-size: 1.3rem;
  color: var(--header-dashboard-color);
}

.messages_messagebox {
  content: '';
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notices_utilitiesbox {
  border-radius: var(--default-border-radius);
  width: 100%;
  margin: 0 auto 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
}

.utilities_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  width: 40%;
}

.notice_creation__form {
  width: 55rem;
  height: 4rem;
  border-radius: var(--default-border-radius);
  background-color: var(--primary-background-color);
  color: white;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin: 0 1rem;
}
.notice_creation__form input {
  padding: 0 0.5rem;
}
.utilities_buttons button {
  border: 2px solid transparent;
  height: 2.5rem;
  width: 10rem;
  margin: 0.2rem 0 0.2rem 0;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.notice_creation__form button {
  background-color: var(--secondary-background-color);
  height: 2rem;
  width: 5rem;
}

.new_examination__button {
  background-color: var(--secondary-button-color);
}

.new_examination__button:hover {
  background-color: var(--primary-button-hover-color);

}

.go_back__button {
  background-color: var(--secondary-button-color);
}

.go_back__button:hover {
  background-color: var(--primary-background-hover);
}

@media (min-width: 510px) {
  .notices_utilitiesbox {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 830px) {
  .notice_creation__form label {
    margin-right: 0.5rem;
    font-size: 90%;
  }
  .notices_utilitiesbox {
    align-items: center;
    height: 5rem;
  }

  .utilities_buttons {
    flex-direction: row;
    width: 100%;
  }

  .utilities_buttons button {
    margin: 0.2rem 0 0.2rem 0.2rem;
  }
}