.loading_screen {
  position: fixed;
  /* background-color: rgba(0, 0, 0, 0.5); */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading_screen > * {
  height: 4rem;
  margin-top: 5rem;
}

.loading_screen span {
  display: none;
}