.loading_screen {
  position: fixed;
  background-color: rgba(233, 233, 233, 0.1);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  content: ''
}

.loading_screen > * {
  height: 4rem;
  margin-top: 40rem;
}

.loading_screen span {
  display: none;
}