.study_areas_headtitle {
  font-size: 1.3rem;
  color: var(--header-dashboard-color);
}

.messages_messagebox {
  content: '';
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.study_areas_utilitiesbox {
  border-radius: var(--default-border-radius);
  width: 100%;
  margin: 0 auto 0.5rem;
  display: flex;
  min-height: 5rem;
  flex-direction: column;
  align-items: center;
  width: 70vw;
}

.utilities_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.study_area_creation__form {
  content: '';
  width: 35rem;
  height: 4rem;
  border-radius: var(--default-border-radius);
  background-color: var(--primary-background-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem;
}

.study_area_creation__form input,
.study_area_creation__form select {
  margin-left: 0.7rem;
}

.study_area_creation__form input {
  height: 1.7rem;
  padding-left: 0.5rem;
}

.study_area_creation__form select {
  height: 1.7rem;
  width: 10rem;
  text-align: center;
  cursor: pointer;
}

.study_area_creation__form select,
.study_area_creation__form option {
  cursor: pointer;
}

.utilities_buttons button {
  border: 2px solid transparent;
  border-radius: var(--default-border-radius);
  height: 2.5rem;
  width: 10rem;
  margin: 0.2rem 0 0.2rem 0;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.study_area_creation__form button {
  background-color: var(--secondary-background-color);
  height: 2rem;
  width: 10rem;
}

.new_study_area__button {
  background-color: var(--primary-background-color);
}

.new_study_area__button:hover {
  background-color: var(--primary-button-hover-color);

}

.go_back__button {
  background-color: var(--primary-background-color);
}

.go_back__button:hover {
  background-color: var(--primary-background-hover);
}

@media (min-width: 510px) {
  .study_areas_utilitiesbox {
    flex-direction: row;
  }
}

@media (min-width: 830px) {
  .study_areas_utilitiesbox {
    align-items: center;
    height: 5rem;
  }

  .utilities_buttons {
    flex-direction: row;
    width: 100%;
  }

  .utilities_buttons button {
    margin: 0.2rem 0 0.2rem 0.2rem;
  }
}