@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  /* Background Colors */
  --primary-background-color:#212529;
  --secondary-background-color: #36393e;
  --tertiary-background-color: #495057;
  --quaternary-background-color: #17171a;
  --primary-background-hover: #424549;
  --light-dark-background-hover: #595d63;


  --background-danger: #dc3545;
  --background-list-hover: #fcf2ec;

  /* Button Colors */
  --primary-button-color: #007bff;
  --primary-button-hover-color: #3399ff;
  --danger-button-color: #dc3545;
  --danger-button-hover-color: #ff4d5a;
  --secondary-button-color: #36393e;

  /* Text Colors */
  --header-dashboard-color: #949191;

  /* Dimensions */
  --default-border-radius: 5px;

  /* Font families */
  --primary-font-family: 'Poppins', sans-serif;
  --secondary-font-family: 'Crimson Text', serif;

  /** FONTS **/
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;

  --primary-text-color: #fff;
  --secondary-text-color: rgb(211, 211, 211);
  --dashboard-hover-background: #feefd4;
}

* {
  font-family: var(--primary-font-family);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
