.filter_selection_box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filter_selection_box input {
  padding: 0 0.5rem;
}

.filter_selection_box input,
.filter_selection_box select,
.order_by_box select {
  height: 2rem;
  margin-bottom: 0.2rem;
  width: 90%;
}

.filters_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.search_button {
  align-items: center;
  background-color: var(--secondary-background-color);
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  font-weight: 600;
  height: 2rem;
  justify-content: center;
  outline: none;
  padding: 0.5rem;
  width: 90%;
}

.search_button,
.submit_filters__btn:hover {
  background-color: var(--primary-background-hover);
}

.submit_filters__btn {
  align-self: center;
  background-color: var(--secondary-background-color);
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 600;
  height: 2rem;
  margin-top: 0.2rem;
  outline: none;
  padding: 0.5rem 0;
  width: 90%;
}