.display_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgb(152, 152, 255);
}

.examination_headtitle {
  font-size: 1.3rem;
  color: var(--header-dashboard-color);
}