.display_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.examination_headtitle {
  font-size: 1.3rem;
  color: var(--header-dashboard-color);
}

.examination_edit__messagebox {
  content: '';
  width: 50%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: lightgreen; */
  position: absolute;
  top: 3rem;
  margin: 0.5rem auto;
}

.examination_edit__section {
  content: '';
  width: 100%;
  min-height: 5rem;
  margin: 7rem 0 3rem;
  display: flex;
  text-align: start;
}

.examination_edit__exams_list__container {
  content: '';
  width: 40%;
  min-height: 5rem;
  border: 2px solid black;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.examination_edit_exams_list {
  content: '';
  width: 100%;
  padding: 0 1rem;
  margin: 1rem 0;

}

.examination_edit_exam_display {
  content: '';
  width: 60%;
  min-height: 5rem;
  border: 2px solid black;
  padding: 1rem 3rem;
}

.examination_edit_exam {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  min-height: 3rem;
  align-items: center;
  padding: 0 0.5rem;
  cursor: pointer;
}

.examination_edit_exam:hover {
  background-color: var(--background-list-hover);
}

.examination_edit_exam__info {
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 0 1rem;
}

.examination_edit_exam__actions {
  height: 3rem;
  width: 30%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.exam_actions_visualize {
  background-color: var(--primary-button-color);
}

.exam_actions__view_more {
  background-color: var(--secondary-button-color);
}

.examination_edit_exam__actions button {
  color: white;
  margin: 0 0.2rem;
  padding: 0.3rem;
  border-radius: var(--default-border-radius);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
}