.examinations_navbuttons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  padding: 0.2rem;
  width: 90vw;
}

.examinations_navbutton__buttons {
  border: 2px solid transparent;
  margin: 0 0.5rem;
  padding: 0.3rem 0.7rem;
  background-color: var(--primary-background-color);
  color: white;
  border-radius: 25px;
  font-weight: 600;
  transition: 0.2s;
  cursor: pointer;
}

.examinations_navbutton__buttons:hover {
  background-color: #36393e;
}

.examinations_navbutton__buttons:disabled {
  background-color: white;
  color: black;
  cursor: auto;
}