.saving_card__container {
  position: relative;
  background-color: white;
  color: black;
  border-radius: var(--default-border-radius);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin: 0.5rem;
  width: 100%;
}

.saving_card__container span {
  font-size: 0.9rem;
  font-weight: bold;
}

.delete_item__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0.5rem;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.3rem;
  cursor: pointer;
}