.question_card__container {
  border-radius: var(--default-border-radius);
  border-bottom: 1px solid gray;
  margin: 0 0 1rem 0;
  width: 100%;
}

.card_sentence__container {
  font-weight: var(--font-bold);
  margin-bottom: 0.5rem;
  background-color: var(--quaternary-background-color);
  color: white;
  display: flex;
  padding: 0.2rem 1rem;
  min-height: 2.5rem;
}

.sentence_number {
  /* background-color: lightskyblue; */
  width: 10%;
  max-width: 8rem;
  display: flex;

}

.card_sentence {
  width: 100%;
  /* background-color: lightsalmon; */
  display: flex;
}
.alternatives_container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.question_card__alternative {
  /* background-color: lightcoral; */
  margin: 0.25rem 0;
  cursor: pointer;
  display: flex;
  padding: 0 1rem;
}

.question_card__alternative span {
  font-weight: var(--font-bold);
}

@media(min-width: 768px) {
  .sentence_number{
    max-width: 2rem;
  }
}