.panel_case__edit_profile_field,
.edit_field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* background-color: blue; */
  min-width: 30vw;
  max-width: 40rem;
}

.panel_case__edit_profile_field input,
.edit_field input {
  height: 2rem;
  margin: 0.1rem 0;
}

.panel_case__edit_profile_field button,
.edit_field button {
  font-size: 1.2rem;
  height: 2rem;
  width: 2rem;
  color: white;
  background-color: black;
  border: none;
  margin: 0 0.1rem;
}
.default_value_field {
  border: 2px solid transparent;
  display: flex;
  width: 15rem;
  justify-content: space-between;
  margin-left: 1rem;
  padding: 0.5rem;
}

.default_value_field :hover {
  border: 2px solid white;
}

@media (min-width: 486px) {
  .panel_case__edit_profile_field,
  .edit_field {
    flex-direction: row;
  }
}