.panel_case__edit_profile_field,
.edit_field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  height: 4rem;
}

.edit_field label {
  font-weight: 700;
}

.panel_case__edit_profile_field input,
.edit_field input {
  height: 2rem;
  margin: 0.1rem 0;
  padding: 0 0 0 0.5rem;
}

.panel_case__edit_profile_field button,
.edit_field button {
  border-radius: var(--default-border-radius);
  font-size: 1.2rem;
  height: 2rem;
  width: 2rem;
  color: white;
  background-color: transparent;
  border: none;
  margin: 0 0.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.default_value_field {
  display: flex;
  width: 20rem;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
  padding: 0.5rem;
}



.default_value_field p {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 1rem;
}

.buttons_box {
  padding: 0.1rem;
  display: flex;
}

@media (min-width: 486px) {
  .panel_case__edit_profile_field,
  .edit_field {
    flex-direction: row;
  }
}