.home_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  text-align: center;
  background-color: var(--primary-background-color);
  color: white;
  width: 100%;
  padding: 1rem;
  border-radius: var(--default-border-radius);
  min-height: 95vh;
}

.profile_content__info {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.profile_content__sideinfo {
  display: flex;
  flex-direction: column;
  border-radius: var(--default-border-radius);
  border: 1px solid rgb(151, 151, 151);
  width: 90%;
  max-width: 30rem;
  padding: 1rem;
  min-height: 30rem;
}

.profile_buttons__panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: inherit;
  border: 1px solid rgb(151, 151, 151);
  margin-left: 0.5rem;
  border-radius: var(--default-border-radius);
  padding: 1rem;
  width: 90%;
  margin-top: 0.5rem;
}

.profile_buttons__panel button {
  outline: none;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  margin: 0.3rem 0;
  border-radius: 50%;
  cursor: pointer;
}

.profile_content__image {
  border-radius: 50%;
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
  object-fit: contain;
}

.profile_content__messagebox {
  content: '';
  width: 30rem;
  height: 5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_content__panel {
  width: 100%;
  height: inherit;
}

@media(min-width: 923px) {
  .profile_content__info {
    align-items: flex-start;
    flex-direction: row;
  }

  .profile_content__sideinfo {
    height: 50rem;
  }

  .profile_buttons__panel {
    flex-direction: column;
    width: 7rem;
    margin-top: 0;
  }
}

