.home_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--primary-background-color);
  color: white;
  width: 100%;
  padding: 1rem 0;
  min-height: 64rem;
}

.profile_content__info {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.profile_content__databox h3 {
  font-size: 1.3rem;
}

.profile_content__databox p {
  font-size: 1rem;

}
.profile_content__sideinfo {
  display: flex;
  flex-direction: column;
  border-radius: var(--default-border-radius);
  width: 90%;
  max-width: 30rem;
  padding: 1rem;
  min-height: 30rem;
}

.profile_content__image {
  border-radius: 50%;
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
  object-fit: contain;
}

.profile_content__messagebox {
  content: '';
  width: 30rem;
  height: 5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile_content__panel {
  width: 100%;
  height: inherit;
}

@media(min-width: 923px) {

  .home_content {
    height: 100vh;
  }
  .profile_content__info {
    align-items: flex-start;
    flex-direction: row;
  }

  .profile_content__sideinfo {
    height: 50rem;
  }

  .profile_buttons__panel {
    flex-direction: column;
    width: 7rem;
    margin-top: 0;
  }
}

