.panel_case {
  width: 100%;
  height: 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 0 4rem;
}

.panel_case h2 {
  align-self: flex-start;
  margin: 3rem 0 2rem 1rem;
  font-size: 2rem;
  color: var(--secondary-text-color);
  font-weight: var(--font-light);
  width: 100%;
  text-align: start;
}

.panel_case__edit_profile__data {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}