.panel_case {
  width: 100%;
  height: 100%;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: red; */
}

.panel_case h3 {
  margin: 3rem 0 5rem 0;
}