:root {
  --default-border-radius: 5px;
  --primary-dark-color: #212529;
  --light-font-color: #ffffff;
  --content-start-top: 10rem;
}

.admin-layout__content {
  position: relative;
  top: var(--content-start-top);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.admin_content__title {
    font-size: 1.5rem;
    margin: 2rem 0;
}


.admin-layout__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem;
  text-align: center;
  z-index: 1;
}